[submodule "sanalyzer"]
	path = sanalyzer
	url = https://github.com/AccelProf/sanalyzer.git
[submodule "tensor_scope"]
	path = tensor_scope
	url = https://github.com/AccelProf/tensor_scope.git
[submodule "nv-compute"]
	path = nv-compute
	url = https://github.com/AccelProf/nv-compute.git
[submodule "nv-nvbit"]
	path = nv-nvbit
	url = https://github.com/AccelProf/nv-nvbit.git
[submodule "docs"]
	path = docs
	url = https://github.com/AccelProf/docs.git
[submodule "amd-rocm"]
	path = amd-rocm
	url = https://github.com/AccelProf/amd-rocm.git
